<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Assessment 1 COIT20268">
    <meta name="author" content="Romina Ingallina">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Business Hours</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <header class="header">
        <figure class="header__img">
            <img src="../assets/img/logo.png" alt="">
        </figure>
        <nav class="header__navigation">
            <ul class="menu">
                <li class="menu__option"><a href="../index.html"> Home </a></li>
                <li class="menu__option"><a href="./form.html"> Subscribe </a></li>
                <li class="menu__option"> <a href="./businessHours.html"> Business Hours </a></li>
            </ul>
        </nav>
    </header>

    <main class="product__detail">
        
        <figure class="product__img">
            <!--secction for google map direction-->
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3540.0554982629565!2d153.02202001566775!3d-27.46753152318812!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6b915a1ac60adc07%3A0xf699c82cf86578b3!2sCentral%20Queensland%20University%20(CQU)!5e0!3m2!1ses!2sau!4v1629257146533!5m2!1ses!2sau" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </figure>

        <!--time table with business hours-->
        <section class="product__products" id="productList">
            <h1>Shop Opening Hours:</h1>
            <div class="main__table">
            
                <div class="time__table">
                    <table>
                        <tr>
                            <td class="table__top--left">Mon - Thur :</td>
                            <td class="table__top--right table__right">10:00am to 4:00pm</td>
                        </tr>
                        <tr>
                            <td>Fri        :</td>
                            <td class="table__right">10:00am to 1:00pm, 2:00pm to 6:00pm</td>
                        </tr>
                        <tr>
                            <td>Sat        :</td>
                            <td class="table__right">8:00am to 4:00pm</td>
                        </tr>
                        <tr>
                            <td>Sun        :</td>
                            <td class="table__right">Closed</td>
                        </tr>
                        <tr>
                            <td class="table__bottom--left">Public Holidays:</td>
                            <td class="table__bottom--right table__right">Closed</td>
                        </tr>
                    </table>
                </div>
        </section>
    </main>

    <footer>
        <div>
            <figure class="footer__img">
                <img src="../assets/img/logo.png" alt="">
            </figure>
            <nav class="footer__navigation">
                <ul class="footer__navigation__options">
                    <li class="menu__option"><a href="./index.html"> Home </a></li>
                    <li class="menu__option"><a href="./views/form.html"> Subscribe </a></li>
                    <li class="menu__option"> <a href="./views/businessHours.html"> Business Hours </a></li>
                </ul>
            </nav>   
        </div>
        <div>
            <p>&copy; Copyright 2021 Romina Ingallina </p>
        </div>
            
    </footer>

    <script src="../worldToys.js"></script>
</body>
</html>