<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="Romina Ingallina">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Board Games</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <header class="header">
        <figure class="header__img">
            <img src="../assets/img/logo.png" alt="">
        </figure>
        <nav class="header__navigation">
            <ul class="menu">
                <li class="menu__option"><a href="../index.html"> Home </a></li>
                <li class="menu__option"><a href="./form.html"> Subscribe </a></li>
                <li class="menu__option"> <a href="./businessHours.html"> Business Hours </a></li>
            </ul>
        </nav>
    </header>
    <!--Main section to display a specific product-->
    <main class="product__detail">
        <figure class="product__img">
            <img src="../assets/board_games/bg1.jpg" alt="Java">
        </figure>
        <section class="product__products" id="productList">
            <h1>Java</h1>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Impedit cumque, atque voluptatibus eveniet magnam unde provident ex earum, velit ratione placeat accusantium eaque maiores incidunt quibusdam officia dignissimos libero quos?</p>
        </section>
    </main>

    <footer>
        <div>
            <figure class="footer__img">
                <img src="../assets/img/logo.png" alt="">
            </figure>
            <nav class="footer__navigation">
                <ul class="footer__navigation__options">
                    <li class="menu__option"><a href="./index.html"> Home </a></li>
                    <li class="menu__option"><a href="./views/form.html"> Subscribe </a></li>
                    <li class="menu__option"> <a href="./views/businessHours.html"> Business Hours </a></li>
                </ul>
            </nav>   
        </div>
        <div>
            <p>&copy; Copyright 2021 Romina Ingallina </p>
        </div>
            
    </footer>

    <script src="../worldToys.js"></script>
</body>
</html>